<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="SqlServer" type="TweetsToDB.SqlServer.SqlServerConfigSection, TweetsToDB"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <SqlServer datasource="" database="" user="" password=""/>
</configuration>
